:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-boxth;
  background: #c5c5c5;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#scene {
  width: calc(100vw / 2);
  height: calc(100vh / 2);
  width: 100vw;
  height: 100vh;
}

#pause {
  position: absolute;
  height: 60px;
  width: 120px;
  font-size: 18px;
  bottom: 5px;
}
